.img1 {
  width: 1000px;
  height: 1000px;
  border-radius: 500px;
  margin-right: 1000px;
  background: blue;
  margin-right: 0px;
}

h2 {
  color: blue;
}
h1 {
  color: blue;
}
.img2 {
  float: right;
}
em.note1 {
  color: red;
}
h1.head {
  background-color: red;
}
p.p1 {
  color: white;
  background-color: black;
}
em.pu {
  color: orange;
  font-style: normal;
}
em.ma {
  color: yellow;
}
body {
  background-color: ;
}
img.colord {
  width: 1000px;
  height: 0.5cm;
}
h3 {
  color: red;
}
h4 {
  color: yellow;
  background-color: gray;
}
h5 {
  color: green;
}
nav {
  background: blue;
  height: 50px;
  font-size: xx-large;
  color: white;
  text-align: center;
}
.color {
  height: 500px;
  width: 500px;
}
button {
  width: 5cm;
  float: right;
  margin-top: 10px;
}
